body{
	background: linear-gradient(-45deg,#e73c7e,#b224ef, #23a6d5, #7579ff);
	background-size: 400% 400%;
    animation: gradient 4s ease infinite;
}
#navbar{
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}
#navbar ul{
	/*background: linear-gradient(-45deg,#e73c7e,#b224ef, #23a6d5, #7579ff);*/
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 0 1px rgba(255, 255, 255, 0.6);
	margin: 10px;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
    padding: 5px;
}
#navbar ul li{
	display: inline;
}
#navbar ul li a{
	text-decoration: none;
	font-family: Arial;
	padding: 0.2em 1em;
	color: #fff;
	/*background-color: #000;*/
	font-size: 20px;
	margin-top: 10px;
}
#navbar ul li a:hover{
	color: black;
	background-color: lightgrey;
}

.sidebar{
	background:linear-gradient(to top left,grey,lightgrey,grey,lightgrey,grey);
	animation: gradient 4s ease infinite;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 105%;
    float: right;
    width: 260px;
    clear: right;
    height: 400px;
}
.main{
	background:linear-gradient(to top left,grey,lightgrey,grey,lightgrey,grey);
	animation: gradient 4s ease infinite;
	margin-left: 20px;
	border-left: 20px;
	margin-right: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
    height: 500px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
img{
	border-radius: 10px;
	margin-top: 25px;
}
/*#footer{
	text-align: center;
	background:linear-gradient(to top left,grey,lightgrey,grey,lightgrey,grey);
	height: 50px;
}
#footer button{
	margin-top: 15px;
	border:5px bold black;
	border-radius: 5px;
}
#footer button a{
	list-style-type: none;

}
#footer button:hover{
	background: linear-gradient(-45deg,#e73c7e,#b224ef, #23a6d5, #7579ff);
	color: white;
}*/
#btn{
	display: inline-grid;

}
#btn button{
	height:400px;
	width: 300px;
	margin-left: 40px;
	margin-top: 25px;
	list-style-type: none;
    border:15px bold black; 
    border-radius: 10px;
    background-color: lightblue;
}
#btn button a{
	text-decoration: none;
	color:black;
}
#btn button:hover{
	background: linear-gradient(-45deg,#e73c7e,#b224ef, #23a6d5, #7579ff);
	animation: gradient 4s ease infinite;
	color: white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
