* {
	box-sizing: border-box;
  }
body{
	margin: 0%;
  	display: block;
  	justify-content: center;
  	align-items: center;
	background: linear-gradient(-45deg,#e73c7e,#b224ef, #23a6d5, #7579ff);
	/*background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);*/
	background-size: 400% 400%;
    animation: gradient 4s ease infinite;
    font-family: 'Nunito', sans-serif;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#header{
	background:transparent;
	margin: 10px;
	height: 100px;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    font-size:35px;
}

#navbar ul{
	text-align: center;
 	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 0 1px rgba(255, 255, 255, 0.6);
}
#navbar ul li{
	display: inline-block;
}
#navbar ul li a{
	padding: 18px;
	font-family: 'Nunito', sans-serif;
  	text-transform:uppercase;
  	color:black;
	font-size: 18px;
	font-weight: 500;
  	text-decoration: none;
  	display: block;
}

#navbar ul li a:hover{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: whitesmoke;
}
#Login{
	font-family: 'Nunito', sans-serif;
	background-color:transparent;
	border: none;
	color: black;
	font-size: 18px;
}
#Login:hover{
	color:whitesmoke;
}
#Login option{
	background-color: transparent;
	color: whitesmoke;
}

.row{
	margin-left: 22px;
	margin-right: 22px;
}

.leftcolumn {   
	float: left;
	width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 25%;
	background-color:transparent;
	padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
  }
  

  .social-media{
	width: 100%;
	text-align: center;
	margin-top: 20px;
  }
  
  .social-media ul{
	list-style: none;
  }
  
  .social-media ul li{
	display: inline-block;
	cursor: pointer;
	padding-right: 1rem;
  }
  
  .social-media img{
	width: 30px;
	height: 30px;
  }
  
  /* Add a card effect for articles */
  .card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
  }

  
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Footer */
  .footer {
	font-family: 'Nunito', sans-serif;
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
  }
  .footer ul{
	font-family: 'Nunito', sans-serif;
	list-style: none;
	margin-left: -40px;
  }

  /*.footer:hover{
	  background-color: black;
	  color: whitesmoke;
  }*/
  
  /* Responsive layout - when the screen is less than 540px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 540px) {
	.leftcolumn, .rightcolumn {   
	  width: 100%;
	  padding: 0;
	}
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
	#navbar a {
	  float: none;
	  width: 100%;
	}
  }
  
  