{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/addQstyle.css' %}">
</head>
<body>
    <div class="cont" >
        <form id="myForm" method="POST" action="{% url 'Quiz:save_question' %}">
            {% csrf_token %}
            <section>
                <div class="question" >  
                    <textarea class="quest" type="text" placeholder="Enter Question" name="question"></textarea>
                </div>
            </section>
            <section>
                <label class="container">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 1" name="choice_1">
                </label>
                <label class="container">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 2" name="choice_2">
                </label>
                <label class="container">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 3" name="choice_3">
                </label>
                <label class="container">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 4" name="choice_4">
                </label>
                <label class="container">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option answer" name="answer">
                </label>
            </section>
            <div class="btns" style="display: flex;">
               <!-- <button class="add" onclick="resetFunction()" value="Reset form" >Reset</button>-->
                <button class="added" type="submit">Add + / Finish</button>
                <!--<button class="added" >Finish</button>-->
            </div>
        </form>
    </div>
</body>
</html>