{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}>
</head>
<body>
    <div class="cont">
        <form id="myForm">
            <section>
                <div class="question" >  
                    <textarea class="quest" type="text" placeholder="Enter Question"></textarea>
                </div>
            </section>
            <section>
                <label class="container">
                    <input class="inp" type="radio" name="radio">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 1">
                    <button class="add" style="float: right; margin-top: 2px; margin-right: 5rem; ">Set</button>
                    <button class="add" style="float: right;  margin-top: 2px; margin-right: 1rem; margin-left: -10rem; " onclick="resetFunction()" value="Reset form" >Reset</button>
                </label>
                <label class="container">
                    <input class="inp" type="radio" name="radio">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 2">
                    <button class="add" style="float: right; margin-top: 2px; margin-right: 5rem; " >Set</button>
                    <button class="add" style="float: right;  margin-top: 2px; margin-right: 1rem; margin-left: -10rem; " onclick="resetFunction()" value="Reset form" >Reset</button>
                </label>
                <label class="container">
                    <input class="inp" type="radio" name="radio">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 3">
                    <button class="add" style="float: right; margin-top: 2px; margin-right: 5rem; " >Set</button>
                    <button class="add" style="float: right;  margin-top: 2px; margin-right: 1rem; margin-left: -10rem; " onclick="resetFunction()" value="Reset form" >Reset</button>
                </label>
                <label class="container">
                    <input class="inp" type="radio" name="radio">
                    <span class="checkmark"></span>
                    <input class="opt" type="text" placeholder="Enter Option 4">
                    <button class="add" style="float: right; margin-top: 2px; margin-right: 5rem; " " >Set</button>
                    <button class="add" style="float: right;  margin-top: 2px; margin-right: 1rem; margin-left: -10rem; " onclick="resetFunction()" value="Reset form" >Reset</button>
                </label>
            </section>
            <button class="added" >Add +</button>
        </form>
    </div>
</body>
</html>