{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>..</title>
    <link rel="stylesheet" href="{% static 'css/display_style.css' %}">
</head>
<body>
    
    <section id="services" class="services">
        <div class="container">
            <h1 class="section-heading"><span></span>title</h1>
            <p>                </p>
            <div class="container-1">
            <div class="card-wrapper">
                <div class="card" style="padding-top: -5rem;">
                    <h2></h2>
                    <p> ukatukAWgrkuwtr. kuwgfk.euvuvybuvgr aeiqUTR AkUFVA/ILAYTWEVIVY AU;AOY7BOWBTV\SE ILTHY/LRBWTBYE ILTE</p>
                    <button class="submit" style="float: right;" >Add +</button>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>