{% load static %}
<! DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QUIZ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style_2.css' %}">
	<script type="text/javascript" src="{% static 'index.js' %}"></script>
</head>
<body>
	<div id="header">
		<h1>QUIZ PLANET</h1>
	</div>
	<nav id="navbar">
		<ul>
			<li><a href="#main">Home</a></li>
			<li><a href="#main">About Us</a></li>
			<li><a href="Account/login">Login</a></li>

				<!--<label for="Login">Login</label>
				<select name="Login" id="Login">
					<option value="Teacher">Teacher</option>
					<option value="Student">Student</option>
				</select>-->
			<li><a href="#footer">Contact Us</a></li>
		</ul>
	</nav>
	<div class="sidebar">
		
	<!--</div>
	<div class="row">
		<div id="main" class="column">
			<p>Quiz Planet is a fast-paced quiz game of diverse topics where you can compete against your friends and other players.<br>
           		Test your knowledge with countless interesting quiz questions from various categories and move to the top of the leader board!
           		What are you waiting for?!<br><br>Create Mock Tests for any possible examination and prepare your students..
           		Play with your family and friends now!
        	</p>
		</div>
		<div id="main">
			<p>We have developed this app so that Teachers can make quizes with ease and help students in improving their knowledge.</p><br>
			<img src="images/iit.png">   <img src="images/upsc.jpg">   <img src="images/gate.png">
		</div>
	</div>
    <div id="footer">
    	<h6>Quiz Planet</h6>
    	<p>Contact Us</p> 
        <ul>
        	<li>+91 56844555</li>
        	<li>ohdfcnsl@gmail.com</li>
        </ul>
	</div>-->
	
	<div class="row">
		<div class="leftcolumn">
		  <div class="card">
			<h2>TITLE HEADING</h2>
			<h5>Title description, Dec 7, 2017</h5>
			<div class="fakeimg" style="height:200px;">Image</div>
			<p>Some text..</p>
			<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
		  </div>
		  <div class="card">
			<h2>TITLE HEADING</h2>
			<h5>Title description, Sep 2, 2017</h5>
			<div class="fakeimg" style="height:200px;">Image</div>
			<p>Some text..</p>
			<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
		  </div>
		</div>
		<div class="rightcolumn">
		  <div class="card">
			<h2>About Me</h2>
			<div class="fakeimg" style="height:100px;">Image</div>
			<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
		  </div>
		  <div class="card">
			<h3>Popular Post</h3>
			<div class="fakeimg"><p>Image</p></div>
			<div class="fakeimg"><p>Image</p></div>
			<div class="fakeimg"><p>Image</p></div>
		  </div>
		  <div class="card">
			<h3>Follow Me</h3>
			<p>Some text..</p>
		  </div>
		</div>
	  </div>
	  
	  <div class="footer">
		<h2>Quiz Planet</h2>
		
    	<p>Contact Us</p> 
        <ul>
        	<li>+91 56844555</li>
        	<li>ohdfcnsl@gmail.com</li>
        </ul>
	  </div>
	</div>
</body>
</html>