{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/plain.css' %}">
</head>
<body>
    <div class="cont" >
        {% for user_quest in user_questions %}
        <form id="myForm" method="POST" action="{% url 'Quiz:check_answer' question_id=user_quest.question_id %}">
            {% csrf_token %}
            <section>
                <div class="question" >  
                    <textarea class="quest" type="text" placeholder="Enter Question">{{user_quest.question}}</textarea>
                </div>
            </section>
            <section>
                <label class="container">
                    <input class="inp" type="radio" name="radio" value="{{user_quest.Choice_1}}">
                    <span class="checkmark" style="margin-top:-0.2rem;"></span>
                    <span style="padding-left:5rem;">{{user_quest.Choice_1}}</span>
                </label>
                <label class="container">
                    <input class="inp" type="radio" name="radio" value="{{user_quest.Choice_2}}">
                    <span class="checkmark" style="margin-top:-0.2rem;"></span>
                    <span style="padding-left:5rem;">{{user_quest.Choice_2}}</span>
                </label>
                <label class="container">
                    <input class="inp" type="radio" name="radio" value="{{user_quest.Choice_3}}">
                    <span class="checkmark" style="margin-top:-0.2rem;"></span>
                    <span style="padding-left:5rem;">{{user_quest.Choice_3}}</span>
                </label>
                <label class="container">
                    <input class="inp" type="radio" name="radio" value="{{user_quest.Choice_4}}">
                    <span class="checkmark" style="margin-top:-0.2rem;"></span>
                    <span style="padding-left:5rem;">{{user_quest.Choice_4}}</span>
                </label>
            </section>
            <div class="btns">
                <button class="added" >Next</button>
            </div>
        </form>
        {% endfor %}
    </div>
    </div>
</body>;
</html>