{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/plain.css' %}">
</head>
<body>
    <div class="cont" >
        <h1 style="text-align:center">Quiz_name</h1>
        <h3 style="text-align:center">Marks_scored</h3>
        <h4 style="text-align:center">Status:</h4>
        <table>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Correct_Answer</th>
                    <th>Selected_Answer</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>