{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/plain.css' %}">
</head>
<body>
    <div class="cont" style="overflow: auto" >
        <button onclick="goBack()">Go Back</button>
            <script>
                function goBack() {
                window.history.back();
                }
            </script>
        <h1 style="text-align:center">Quiz_name:{{res.q_name.quiz_name}}</h1><br>
        <h3 style="text-align:center">Marks_scored:{{res.score}} / {{res.total_marks}}</h3><br>
        <h4 style="text-align:center">Status:{{res.status}}</h4><br>
        <br><br>
        <table style="align:center">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Correct_Answer</th>
                    <th>Selected_Answer</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>
                {% for ques in question%}
                <tr>
                    <td>{{ques.ques_id.question}}</td>
                    <td>{{ques.correct_answer.answer}}</td>
                    <td>{{ques.selected_answer}}</td>
                    <td>{{ques.check_result}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>