{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/play_quiz.css' %}">
</head>

<body>
    <section id="services" class="services">
        <div class="container">
            <h1 class="section-heading" style="margin-top:5rem;font-size:3.5rem;color:white;">Quiz</h1>
            <p>                </p>
            <div class="container-1">
            {% for quiz in quizes%}
            <div class="card-wrapper">
                <div class="card" style="padding-top: -5rem;">
                    <h2></h2>
                    <p> Quiz_number : {{quiz.quiz_id}}<br />
                        Quiz_name : {{quiz.quiz_name}}<br />
                        No_of Questions: {{quiz.no_of_questions}}<br />
                        Marks_per_question: {{quiz.Mark_per_question}}<br />
                        Total_marks: {{quiz.total_marks}}</p>
                    <button class="submit" style="float: right;"><a href="{% url 'Quiz:play_quiz' quiz_id=quiz.quiz_id %}" style="text-decoration:none;color:white">Play</a></button>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>