{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/play_quiz.css' %}">
</head>
<body>
    <section id="services" class="services">
        <div class="container">
            <h1 class="section-heading">Title</h1>
            <p>                </p>
            <div class="container-1">
            <div class="card-wrapper">
                <div class="card" style="padding-top: -5rem;">
                    <h2></h2>
                    <p> ukatukAWgrkuwtr. kuwgfk.euvuvybuvgr aeiqUTR AkUFVA/ILAYTWEVIVY AU;AOY7BOWBTV\SE ILTHY/LRBWTBYE ILTE</p>
                    <button class="submit" style="float: right;"><a href="{% url 'Quiz:play_quiz' %}">Play</a></button>
                </div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>