{% load static %}
<!-- This is teacher dashboard -->
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QUIZ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar_dashboard.css' %}">
	<!--<script type="text/javascript" src="index.js"></script>-->
</head>
<body>
	<div id="header">
		<h1>QUIZ PLANET</h1>
	</div>
	<nav id="navbar">
		<ul>
			<li><a href="">Courses</a></li>
			<li><a href="">Topic</a></li>
			<li><a href="#btn">Quizzes</a></li>
			<li><a href="{% url 'Account:logout_confirm' %} ">Logout</a></li>
		</ul>
	</nav>
	<div class="sidebar">
		
	<!--</div>
	<div class="row">
		<div id="main" class="column">
			<p>Quiz Planet is a fast-paced quiz game of diverse topics where you can compete against your friends and other players.<br>
           		Test your knowledge with countless interesting quiz questions from various categories and move to the top of the leader board!
           		What are you waiting for?!<br><br>Create Mock Tests for any possible examination and prepare your students..
           		Play with your family and friends now!
        	</p>
		</div>
		<div id="main">
			<p>We have developed this app so that Teachers can make quizes with ease and help students in improving their knowledge.</p><br>
			<img src="images/iit.png">   <img src="images/upsc.jpg">   <img src="images/gate.png">
		</div>
	</div>
    <div id="footer">
    	<h6>Quiz Planet</h6>
    	<p>Contact Us</p> 
        <ul>
        	<li>+91 56844555</li>
        	<li>ohdfcnsl@gmail.com</li>
        </ul>
	</div>-->
	
	<div class="row">
		<div class="leftcolumn">

			<div class="card">
			<h2>Online exam portal personalized for teachers</h2>
			<h5>We enable teachers to create, share, evaluate smart online exams in less than 5 min, and give valuable feedback to students with their self-branded exam portal.</h5>

			  <div class="fakeimg" style="height:200px;">Image</div>
			<p>Some text..</p>
			<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
		  	</div>

			<div class="card">
			<h2>TITLE HEADING</h2>
			<h5>Title description, Sep 2, 2017</h5>
			<div class="fakeimg" style="height:200px;">Image</div>
			<p>Some text..</p>
			<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			<div id="btn">
				<button class="btns" ><a href="{% url 'Quiz:quiz_details' %}">Add Quiz</a></button>
				<button class="btns" ><a href="{% url 'Quiz:quiz_added' teacher_id=tea_id %}">Quizzes</a></button>
				<button class="btns">Student Template</button>
			</div>
		  </div>
		</div>
		<div class="rightcolumn">
		  <div class="card">
			<h2>About Me</h2>
			<div class="fakeimg" style="height:100px;">Image</div>
			<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
		  </div>
		  <div class="card">
			<h3>Popular Post</h3>
			<div class="fakeimg"><p>Image</p></div>
			<div class="fakeimg"><p>Image</p></div>
			<div class="fakeimg"><p>Image</p></div>
		  </div>
		  <div class="card">
			<h3>Follow Me</h3>
			<p>Some text..</p>
		  </div>
		</div>
	  </div>
	  <br>
	  <br>
	</div>
	</body>
</html>