{% load static %}
<!-- This is teacher dashboard -->
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QUIZ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar_dashboard.css' %}">
	<!--<script type="text/javascript" src="index.js"></script>-->
</head>
<body>
	<div id="header">
		<h1>QUIZ PLANET</h1>
	</div>
	<nav id="navbar">
		<ul>
			<li><a href="">Courses</a></li>
			<li><a href="">Topic</a></li>
			<li><a href="#btn">Quizzes</a></li>
			<li><a href="{% url 'Account:logout_confirm' %} ">Logout</a></li>
		</ul>
	</nav>
	<div class="sidebar">
	<div class="row">
		<div class="leftcolumn">

			<div class="card">
			<h2>Online exam portal personalized for teachers</h2>
			<h5>We enable teachers to create, share, evaluate smart online exams in less than 5 min, and give valuable feedback to students with their self-branded exam portal.</h5>

			  <div class="fakeimg" style="height:200px;">Image</div>
			<p>Some text..</p>
			<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
		  	</div>

			<div class="card">
			<h2>TITLE HEADING</h2>
			<h5>Title description, Sep 2, 2017</h5>
			<div class="fakeimg" style="height:200px;">Image</div>
			<p>Some text..</p>
			<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			<div id="btn">
				<button class="btns" ><a href="{% url 'Quiz:quiz_details' %}">Add Quiz</a></button>
				<button class="btns" ><a href="{% url 'Quiz:quiz_added' teacher_id=tea_id %}">Quizzes</a></button>
				<button class="btns"><a href="{% url 'Quiz:result_quiz' teacher_id=tea_id %}" >Student Template</a></button>
			</div>
		  </div>
		</div>
		<div class="rightcolumn">
		  <div class="card">
			<h2>About Me</h2>
			<div class="fakeimg" style="height:100px;">Image</div>
			<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
		  </div>
		  <div class="card">
			<h3>Popular Post</h3>
			<div class="fakeimg"><p>Image</p></div>
			<div class="fakeimg"><p>Image</p></div>
			<div class="fakeimg"><p>Image</p></div>
		  </div>
		  <div class="card">
			<h3>Follow Me</h3>
			<p>Some text..</p>
		  </div>
		</div>
	  </div>
	  <br>
	  <br>
	</div>
	</body>
</html>